/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .mat-form-field{
    padding: 5px;
  }

  .printDiv{
    border: 1px solid black !important;
    min-width: 200px;
    float: left !important;
  }

  input{
  text-transform: uppercase;
 }


  @media print {
    // body * {
    //   visibility: hidden;
    // }
    // #section-to-print, #section-to-print * {
    //   visibility: visible;
    // }
    // #section-to-print {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    // }
    .printDiv{
      border: 1px solid black !important;
      min-width: 200px;
      float: left !important;
    }
  }
