<div class="container pt-1" style="background-color: rgb(255, 255, 255); color: black !important;" [hidden]="showBill">
  <h3><u>Create Volunteer</u> </h3>

  <div>
    <!-- test2 -->
    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
          {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button> -->
    <mat-stepper style="background-color: rgb(31, 111, 180) !important; color: black !important; border-radius: 10px;"
      [linear]="isLinear" #stepper>
      <mat-step [stepControl]="personForm">
        <form [formGroup]="personForm">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div class="d-flex">
            <div class="col-9">
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>NAME</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="personName" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>AGE</mat-label>
                  <input matInput placeholder="Your age" formControlName="age" required>
                </mat-form-field>

              </div>
              <div>

              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>GENDER</mat-label>
                  <mat-select matNativeControl required formControlName="gender">
                    <mat-option *ngFor="let x of genderList" [value]="x">{{x}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>EMAIL</mat-label>
                  <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>

              </div>
              <div>

              </div>
            </div>

            <div class="fluid" style="background-color: white; max-height: 100px;  margin: 2%; text-align: right ">

              <mat-menu #test1="matMenu">
                <input [disabled]="isUpdateAble == true" type="file" name="filename" (change)="onChange($event)">
              </mat-menu>
            </div>

          </div>

          <div>

            <button class="mr-2 bg-warning btn" (click)="clearForms()">Clear</button>
            <button *ngIf="isUpdateAble == false" type="submit" class="btn btn-info"
              (click)="onSubmitVolunteer()">Submit</button>


          </div>
        </form>
      </mat-step>


    </mat-stepper>


  </div>

  <button type="button" (click)="onClickBackButton()" class="btn btn-light" *ngIf="showVolunteer==false"><i class="bi-arrow-left" ></i></button>

  

  <div class="card" *ngIf="showVolunteer==true">
    <h3>Volunteer List</h3>
    <div class="card-body scroll"
      style="max-width: 100vw; overflow: scroll;  border-radius: 5px;  background-color: rgba(27, 109, 197, 0.524);">
      <table class="table" id="excel-table" style="">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" *ngIf="showName == true" scope="col">Name</th>
            <th class="text-center" scope="col">Email</th>
            <th class="text-center" *ngIf="showAge == true" scope="col">Age</th>
            <th class="text-center" *ngIf="showGender == true" scope="col">Gender</th>
          </tr>
        </thead>
        <tbody *ngFor="let x of volunteer let i=index;">
          <tr (click)="getVotersByVolunteer(x)">
            <td class="text-center pt-3" scope="row">{{i+1}}</td>
            <td class="text-center pt-3" *ngIf="showName == true" scope="row">{{x.personName}}</td>
            <td class="text-center pt-3" scope="row">{{x.email}}</td>
            <td class="text-center pt-3" *ngIf="showAge == true" scope="row">{{x.age}}</td>
            <td class="text-center pt-3" *ngIf="showGender == true" scope="row">{{x.gender}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    style="border: 2px solid white; border-radius: 5px;  background-color: rgba(27, 109, 197, 0.524); max-width: 100vw; overflow: scroll;"
    class="p-3 mt-2 mb-2 scroll" *ngIf="showVoters==true">
    <div class="d-flex">
      <mat-checkbox [checked]="showName" (change)="changeShowStatus('showName', $event.checked)"
        class="p-1 example-margin">Name</mat-checkbox>
      <mat-checkbox [checked]="showMemberCode" (change)="changeShowStatus('showMemberCode', $event.checked)"
        class="p-1 example-margin">Member code</mat-checkbox>
      <mat-checkbox [checked]="showGuardianName" (change)="changeShowStatus('showGuardianName', $event.checked)"
        class="p-1 example-margin">Guardian Name</mat-checkbox>
      <mat-checkbox [checked]="showAge" (change)="changeShowStatus('showAge', $event.checked)"
        class="p-1 example-margin">Age</mat-checkbox>
      <mat-checkbox [checked]="showGender" (change)="changeShowStatus('showGender', $event.checked)"
        class="p-1 example-margin">Gender</mat-checkbox>
      <mat-checkbox [checked]="showPoliceStation" (change)="changeShowStatus('showPoliceStation', $event.checked)"
        class="p-1 example-margin">Police Station</mat-checkbox>
      <mat-checkbox [checked]="showOcupation" (change)="changeShowStatus('showOcupation', $event.checked)"
        class="p-1 example-margin">Occupation</mat-checkbox>
      <mat-checkbox [checked]="showReligion" (change)="changeShowStatus('showReligion', $event.checked)"
        class="p-1 example-margin">Religion</mat-checkbox>
      <mat-checkbox [checked]="showEmail" (change)="changeShowStatus('showEmail', $event.checked)"
        class="p-1 example-margin">Email</mat-checkbox>
      <mat-checkbox [checked]="showMobileOne" (change)="changeShowStatus('showMobileOne', $event.checked)"
        class="p-1 example-margin">mobile1</mat-checkbox>
      <mat-checkbox [checked]="showMobileTwo" (change)="changeShowStatus('showMobileTwo', $event.checked)"
        class="p-1 example-margin">mobile2</mat-checkbox>
    </div>
    <div class="d-flex">
      <mat-checkbox [checked]="showVoterId" (change)="changeShowStatus('showVoterId', $event.checked)"
        class="p-1 example-margin">voterId</mat-checkbox>
      <mat-checkbox [checked]="showPollingNumber" (change)="changeShowStatus('showPollingNumber', $event.checked)"
        class="p-1 example-margin">pollingNumber</mat-checkbox>
      <mat-checkbox [checked]="showPinCode" (change)="changeShowStatus('showPinCode', $event.checked)"
        class="p-1 example-margin">Pin Code</mat-checkbox>
      <mat-checkbox [checked]="showRoadNo" (change)="changeShowStatus('showRoadNo', $event.checked)"
        class="p-1 example-margin">Road No.</mat-checkbox>
      <mat-checkbox [checked]="showHouseNo" (change)="changeShowStatus('showHouseNo', $event.checked)"
        class="p-1 example-margin">House No.</mat-checkbox>
      <mat-checkbox [checked]="showPostOffice" (change)="changeShowStatus('showPostOffice', $event.checked)"
        class="p-1 example-margin">Post Office</mat-checkbox>
      <mat-checkbox [checked]="showCast" (change)="changeShowStatus('showCast', $event.checked)"
        class="p-1 example-margin">Cast</mat-checkbox>
      <mat-checkbox [checked]="showAadharId" (change)="changeShowStatus('showAadharId', $event.checked)"
        class="p-1 example-margin">Aadhar Id</mat-checkbox>
      <mat-checkbox [checked]="showPhoto" (change)="changeShowStatus('showPhoto', $event.checked)"
        class="p-1 example-margin">Aadhar Id</mat-checkbox>
    </div>
  </div>

  <div class="card" *ngIf="showVoters==true">
    <h3>Voters List</h3>
    <div class="card-body scroll"
      style="max-width: 100vw; overflow: scroll;  border-radius: 5px;  background-color: rgba(27, 109, 197, 0.524);">
      <table class="table" id="excel-table" style="">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" *ngIf="showName == true" scope="col">Name</th>
            <th class="text-center" *ngIf="showMemberCode == true" scope="col">Member code</th>
            <th class="text-center" *ngIf="showGuardianName == true" scope="col">Guardian Name</th>
            <th class="text-center" *ngIf="showAge == true" scope="col">Age</th>
            <th class="text-center" *ngIf="showGender == true" scope="col">Gender</th>
            <th class="text-center" *ngIf="showPoliceStation == true" scope="col">Police Station</th>
            <th class="text-center" *ngIf="showOcupation == true" scope="col">Occupation</th>
            <th class="text-center" *ngIf="showReligion == true" scope="col">Religion</th>
            <th class="text-center" *ngIf="showEmail == true" scope="col">Email</th>
            <th class="text-center" *ngIf="showMobileOne == true" scope="col">mobile1</th>
            <th class="text-center" *ngIf="showMobileTwo == true" scope="col">mobile2</th>
            <th class="text-center" *ngIf="showVoterId == true" scope="col">voterId</th>
            <th class="text-center" *ngIf="showAadharId == true" scope="col">Adhaar Id</th>
            <th class="text-center" *ngIf="showCast == true" scope="col">Cast</th>
            <th class="text-center" *ngIf="showPostOffice == true" scope="col">Post Office</th>
            <th class="text-center" *ngIf="showHouseNo == true" scope="col">House No.</th>
            <th class="text-center" *ngIf="showRoadNo == true" scope="col">Road Name</th>
            <th class="text-center" *ngIf="showPinCode == true" scope="col">Pin code</th>
            <th class="text-center" *ngIf="showPollingNumber == true" scope="col">pollingNumber</th>
            <th class="text-center" *ngIf="showPhoto == true" scope="col">Picture</th>
          </tr>
        </thead>
        <tbody *ngFor="let x of votersList; let i=index">
          <tr>
            <td class="text-center pt-3" scope="row">{{i+1}}</td>
            <td class="text-center pt-3" *ngIf="showName == true" scope="row">{{x.personName}}</td>
            <td class="text-center pt-3" *ngIf="showMemberCode == true" scope="row">{{x.memberCode}}</td>
            <td class="text-center pt-3" *ngIf="showGuardianName == true" scope="row">{{x.guardianName}}</td>
            <td class="text-center pt-3" *ngIf="showAge == true" scope="row">{{x.age}}</td>
            <td class="text-center pt-3" *ngIf="showGender == true" scope="row">{{x.gender}}</td>
            <td class="text-center pt-3" *ngIf="showPoliceStation == true" scope="row">{{x.police_station}}</td>
            <td class="text-center pt-3" *ngIf="showOcupation == true" scope="row">{{x.occupation}}</td>
            <td class="text-center pt-3" *ngIf="showReligion == true" scope="row">{{x.religion}}</td>
            <td class="text-center pt-3" *ngIf="showEmail == true" scope="row">{{x.email}}</td>
            <td class="text-center pt-3" *ngIf="showMobileOne == true" scope="row">{{x.mobile1}}</td>
            <td class="text-center pt-3" *ngIf="showMobileTwo == true" scope="row">{{x.mobile2}}</td>
            <td class="text-center pt-3" *ngIf="showVoterId == true" scope="row">{{x.voterId}}</td>
            <td class="text-center pt-3" *ngIf="showAadharId == true" scope="row">{{x.aadharId}}</td>
            <td class="text-center pt-3" *ngIf="showCast == true" scope="row">{{x.cast}}</td>
            <td class="text-center pt-3" *ngIf="showPostOffice == true" scope="row">{{x.postOffice}}</td>
            <td class="text-center pt-3" *ngIf="showHouseNo == true" scope="row">{{x.houseNo}}</td>
            <td class="text-center pt-3" *ngIf="showRoadNo == true" scope="row">{{x.roadName}}</td>
            <td class="text-center pt-3" *ngIf="showPinCode == true" scope="row">{{x.pinCode}}</td>
            <td class="text-center pt-3" *ngIf="showPollingNumber == true" scope="row">{{x.pollingNumber}}</td>
            <td class="text-center " *ngIf="showPhoto == true" scope="row" style="">
              <!--                <img loading="lazy" decoding="async" [src]="imageSrcTable + '' +x.personId + '.jpg'" style="width: 56px; height: 55px; border: #e8c50e solid" (error)="" alt="">-->
              <img loading="lazy" decoding="async" [src]="this.imageSrcVoter + '' + x.personId + '.jpg'"
                style=" height: 50px; border: #e8c50e solid" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <!-- <button class="btn btn-primary" aria-label=" Generate Bill" (click)="viewBill()" [hidden]="true">
    View voters list
  </button> -->
  <button class="btn-primary" mat-stroked-button printSectionId="printDiv" [printStyle]="printDivStyle"
    ngxPrint><mat-icon>print</mat-icon>
  </button>
  <button class="btn-primary" mat-stroked-button (click)="exportexcel()">Export to Excel</button>

</div>


<div [hidden]="!showBill">
  <div id="printDiv" style="font-size: xx-small !important;">

    <div class="printDiv" *ngFor="let x of volunteer; let i=index"
      style="border: #000000 solid; min-width: 200px; float: left !important; padding: 4px;">
      <div class="printDiv"
        style="  min-width: 100px; max-width: 100px !important; float: left !important; font-size: xx-small !important;">
        <div style="border: #000000 solid;  text-align: right;">{{i+1}}</div>
        <span>Name: {{x.personName}}</span><br>
        Guardian's Name: {{x.guardianName}}<br>
        Age: {{x.age}}
        Gender: {{x.gender}}<br>
        House No: {{x.houseNo}}
      </div>
      <div class="printDiv"
        style="border: 1px solid black !important; min-width: 100px; float: left !important; text-align: right;">
        <div>{{x.voterId}}</div>
        <img [src]="this.imageSrcVoter + '' + x.personId + '.jpg'"
          style=" height: 65px; width: 40px; border: #000000 solid" alt="">
      </div>
    </div>
    <!-- <div class="printDiv" style="border: 1px solid black; min-width: 200px; float: left !important;">
        dfgdfgfdgd
      </div>
      <div class="printDiv" style="border: 1px solid black !important; min-width: 200px; float: left !important;">
        dfgdfgfdgd
      </div> -->

  </div>
</div>