<mat-drawer-container style="background-color: rgb(255, 238, 193) !important;">
    <!-- <mat-drawer mode="side" [opened]="sideBarOpen" > -->
      <mat-drawer mode="side" [opened]="sideBarOpen" *ngIf="commonService.isHeaderVisible()">
      <app-sidenav *ngIf="authService.isNotAuthenticated()"></app-sidenav>
      <app-sidenav-developer *ngIf="authService.isDeveloper()"></app-sidenav-developer>
      <app-sidenav-mp *ngIf="authService.isOwner()"></app-sidenav-mp>
      <app-sidenav-legislative *ngIf="authService.isLegislativeCandidate()"></app-sidenav-legislative>
      <app-sidenav-polling-volunteer *ngIf="authService.isPollingStationVolunteer()"></app-sidenav-polling-volunteer>
      <app-sidenav-volunteer *ngIf="authService.isVolunteer()"></app-sidenav-volunteer>
      <app-sidenav-assembly-constituency *ngIf="authService.isAssemblyConstituency()"></app-sidenav-assembly-constituency>
      <app-sidenav-booth-volunteer *ngIf="authService.isBoothVolunteer()"></app-sidenav-booth-volunteer>
      <app-sidenav-districtt-admin *ngIf="authService.isDistrictAdminPanel()"></app-sidenav-districtt-admin>

    </mat-drawer>
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler($event)"></app-header>
<!--      <div *ngIf="isNavigating"  id="loading-screen" class="text-center">-->
<!--        <mat-spinner></mat-spinner>-->
<!--      </div>-->
        <router-outlet style="background-color: aliceblue !important;"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
