<div class="container pt-1">



  <h3><u>Create Polling Agent:</u> </h3>
  <div style="border: 2px solid white; border-radius: 5px; background-color: rgba(127, 255, 212, 0.333);" class="p-3">
    <form [formGroup]="personForm">
      <div class="d-flex">
        <div class="form-group">
          <input class="form-control" formControlName="personName" placeholder="Name">
        </div>
        <div class="form-group pl-3">
          <input class="form-control" formControlName="age" placeholder="Age">
        </div>
        <!-- <div class="form-group pl-3">
          <input class="form-control" formControlName="email" placeholder="Email">
        </div> -->
        <div class="form-group pl-3">
          <input class="form-control" formControlName="guardianName" placeholder="Guardian Name">
        </div>
        <div class="form-group pl-3">
          <ng-select [items]="genderList" fxFlex="100" bindLabel="name" class="custom" bindValue="name" appendTo="body"
            formControlName="gender" placeholder="Gender" style="height: 200 !important;">
          </ng-select>
        </div>
        <div class="form-group pl-2">
          <ng-select [items]="states" fxFlex="100" bindLabel="name" class="custom" bindValue="id" placeholder="states"
            style="height: 200 !important; min-width: 200px !important;">
          </ng-select>
        </div>

      </div>
      <!-- {{states[0].districts | json}} -->
      <div class="d-flex pt-2">
        <div class="form-group">
          <input class="form-control" formControlName="policeStation" placeholder="Police station">
        </div>
        <!-- <div class="form-group pl-3">
          <input class="form-control" formControlName="cast" placeholder="Cast">
        </div> -->
        <div class="form-group pl-3">
          <input class="form-control" formControlName="partNo" placeholder="Part No">
        </div>
        <div class="form-group pl-3">
          <input class="form-control" formControlName="postOffice" placeholder="Post Office">
        </div>
        <div class="form-group pl-3">
          <input class="form-control" formControlName="houseNo" placeholder="House No.">
        </div>
      </div>

      <div class="d-flex pt-2">

        <div class="form-group">
          <input class="form-control" formControlName="pinCode" placeholder="Pin Code">
        </div>

        <!-- <div class="form-group pl-3">
          <input class="form-control" formControlName="district" placeholder="District">
        </div> -->


        <div class="form-group pl-3">
          <input class="form-control" formControlName="voterId" placeholder="Voter No.">
        </div>
        <div class="form-group pl-3">
          <input class="form-control" formControlName="religion" placeholder="Religion">
        </div>

        <div class="form-group pl-3" style="min-width: 235px;">
          <ng-select [items]="states[0].districts" fxFlex="100" bindLabel="name" class="custom" bindValue="districtId"
            appendTo="body" formControlName="district" placeholder="districts" style="height: 200 !important;">
          </ng-select>
        </div>
      </div>

      <div class="d-flex pt-2">
        <div class="form-group">
          <input class="form-control" formControlName="mobile1" placeholder="Mobile1">
        </div>
        <div class="form-group pl-3">
          <input class="form-control" formControlName="mobile2" placeholder="Mobile2">
        </div>

        <!-- <div class="form-group pl-3">
          <input class="form-control" formControlName="aadharId" placeholder="Aadhar No.">
        </div> -->




      </div>

      <div class="d-flex pt-2">

        <div class="form-group">
          <input class="form-control" formControlName="aadharId" placeholder="Aadhar No.">
        </div>



        <div class="form-group pl-3">
          <input class="form-control" formControlName="preferableCandidate" placeholder="Preferable Candidate">
        </div>

        <div class="form-group pl-3">
          <ng-select [items]="pollingStations" fxFlex="100" bindLabel="pollingNumber" class="custom"
            bindValue="pollingStationId" appendTo="body" formControlName="pollingStationId" placeholder="Polling number"
            style="height: 200 !important;">
          </ng-select>
        </div>



      </div>

      <div class="d-flex pt-2">



        <div class="form-group ">
          <input class="form-control" formControlName="suggestion" placeholder="Suggestion">
        </div>


        <div class="form-group pl-3">
          <input class="form-control" formControlName="occupation" placeholder="Occupation">
        </div>

        <div class="form-group pl-3">
          <input class="form-control" formControlName="cast" placeholder="Cast">
        </div>

        <div class="form-group pl-3">
          <input class="form-control" formControlName="email" placeholder="Email">
        </div>



      </div>

      <div class="d-flex pt-2">


        <div class="form-group ">
          <label>Previous Voting History
            <select class="form-select form-group pl-3" formControlName="prevVotingHistory"
              aria-label="Default select example">
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </label>
        </div>
        <div class="form-group pl-3">
          <label>Satisfied By Present Gov
            <select class="form-select form-group pl-3" formControlName="satisfiedByPresentGov"
              aria-label="Default select example">
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </label>
        </div>



      </div>
    </form>

    <div class="d-flex ">
      <div class="col-4">
        <form [formGroup]="userForm">
          <div class="d-flex ">

            <div class="form-group ">
              <textarea class="form-control" rows="2" formControlName="remark" placeholder="Remark"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6"></div>
      <div class="col-2">
        <div class="pt-4 pb-3"><button type="submit" class="btn btn-warning" (click)="onSubmit()">Submit</button></div>
      </div>



    </div>
  </div>


  <div style="border: 2px solid white; border-radius: 5px; background-color: rgba(127, 255, 212, 0.333);"
    class="p-3 mt-2 mb-2">
    <div class="d-flex">
      <mat-checkbox [checked]="showName" (change)="changeShowStatus('showName', $event.checked)"
        class="p-1 example-margin">Name</mat-checkbox>
      <mat-checkbox [checked]="showMemberCode" (change)="changeShowStatus('showMemberCode', $event.checked)"
        class="p-1 example-margin">Member code</mat-checkbox>
      <mat-checkbox [checked]="showGuardianName" (change)="changeShowStatus('showGuardianName', $event.checked)"
        class="p-1 example-margin">Guardian Name</mat-checkbox>
      <mat-checkbox [checked]="showAge" (change)="changeShowStatus('showAge', $event.checked)"
        class="p-1 example-margin">Age</mat-checkbox>
      <mat-checkbox [checked]="showGender" (change)="changeShowStatus('showGender', $event.checked)"
        class="p-1 example-margin">Gender</mat-checkbox>
      <mat-checkbox [checked]="showPoliceStation" (change)="changeShowStatus('showPoliceStation', $event.checked)"
        class="p-1 example-margin">Police Station</mat-checkbox>
      <mat-checkbox [checked]="showOcupation" (change)="changeShowStatus('showOcupation', $event.checked)"
        class="p-1 example-margin">Occupation</mat-checkbox>
      <mat-checkbox [checked]="showReligion" (change)="changeShowStatus('showReligion', $event.checked)"
        class="p-1 example-margin">Religion</mat-checkbox>
      <mat-checkbox [checked]="showEmail" (change)="changeShowStatus('showEmail', $event.checked)"
        class="p-1 example-margin">Email</mat-checkbox>
      <mat-checkbox [checked]="showMobileOne" (change)="changeShowStatus('showMobileOne', $event.checked)"
        class="p-1 example-margin">mobile1</mat-checkbox>
      <mat-checkbox [checked]="showMobileTwo" (change)="changeShowStatus('showMobileTwo', $event.checked)"
        class="p-1 example-margin">mobile2</mat-checkbox>
    </div>
    <div class="d-flex">


      <mat-checkbox [checked]="showVoterId" (change)="changeShowStatus('showVoterId', $event.checked)"
        class="p-1 example-margin">voterId</mat-checkbox>
      <mat-checkbox [checked]="showPollingNumber" (change)="changeShowStatus('showPollingNumber', $event.checked)"
        class="p-1 example-margin">pollingNumber</mat-checkbox>
      <mat-checkbox [checked]="showPinCode" (change)="changeShowStatus('showPinCode', $event.checked)"
        class="p-1 example-margin">Pin Code</mat-checkbox>
      <mat-checkbox [checked]="showRoadNo" (change)="changeShowStatus('showRoadNo', $event.checked)"
        class="p-1 example-margin">Road No.</mat-checkbox>
      <mat-checkbox [checked]="showHouseNo" (change)="changeShowStatus('showHouseNo', $event.checked)"
        class="p-1 example-margin">House No.</mat-checkbox>
      <mat-checkbox [checked]="showPostOffice" (change)="changeShowStatus('showPostOffice', $event.checked)"
        class="p-1 example-margin">Post Office</mat-checkbox>
      <mat-checkbox [checked]="showCast" (change)="changeShowStatus('showCast', $event.checked)"
        class="p-1 example-margin">Cast</mat-checkbox>
      <mat-checkbox [checked]="showAadharId" (change)="changeShowStatus('showAadharId', $event.checked)"
        class="p-1 example-margin">Aadhar Id</mat-checkbox>
    </div>


  </div>




  <div class="card">
    <div class="card-body">
      <table class="table" style="font-size: 12px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th *ngIf="showName == true" scope="col">Name</th>
            <th *ngIf="showMemberCode == true" scope="col">Member code</th>
            <th *ngIf="showGuardianName == true" scope="col">Guardian Name</th>
            <th *ngIf="showAge == true" scope="col">Age</th>
            <th *ngIf="showGender == true" scope="col">Gender</th>
            <th *ngIf="showPoliceStation == true" scope="col">Police Station</th>
            <th *ngIf="showOcupation == true" scope="col">Occupation</th>
            <th *ngIf="showReligion == true" scope="col">Religion</th>
            <th *ngIf="showEmail == true" scope="col">Email</th>
            <th *ngIf="showMobileOne == true" scope="col">mobile1</th>
            <th *ngIf="showMobileTwo == true" scope="col">mobile2</th>
            <th *ngIf="showVoterId == true" scope="col">voterId</th>
            <th *ngIf="showAadharId == true" scope="col">Adhaar Id</th>
            <th *ngIf="showCast == true" scope="col">Cast</th>
            <th *ngIf="showPostOffice == true" scope="col">Post Office</th>
            <th *ngIf="showHouseNo == true" scope="col">House No.</th>
            <th *ngIf="showRoadNo == true" scope="col">Road Name</th>
            <th *ngIf="showPinCode == true" scope="col">Pin code</th>
            <th *ngIf="showPollingNumber == true" scope="col">pollingNumber</th>
          </tr>
        </thead>
        <tbody *ngFor="let x of pollingMembers">
          <tr>
            <td scope="row">{{x.personId}}</td>
            <td *ngIf="showName == true" scope="row">{{x.personName}}</td>
            <td *ngIf="showMemberCode == true" scope="row">{{x.memberCode}}</td>
            <td *ngIf="showGuardianName == true" scope="row">{{x.guardianName}}</td>
            <td *ngIf="showAge == true" scope="row">{{x.age}}</td>
            <td *ngIf="showGender == true" scope="row">{{x.gender}}</td>
            <td *ngIf="showPoliceStation == true" scope="row">{{x.police_station}}</td>
            <td *ngIf="showOcupation == true" scope="row">{{x.occupation}}</td>
            <td *ngIf="showReligion == true" scope="row">{{x.religion}}</td>
            <td *ngIf="showEmail == true" scope="row">{{x.email}}</td>
            <td *ngIf="showMobileOne == true" scope="row">{{x.mobile1}}</td>
            <td *ngIf="showMobileTwo == true" scope="row">{{x.mobile2}}</td>
            <td *ngIf="showVoterId == true" scope="row">{{x.voterId}}</td>
            <td *ngIf="showAadharId == true" scope="row">{{x.aadharId}}</td>
            <td *ngIf="showCast == true" scope="row">{{x.cast}}</td>
            <td *ngIf="showPostOffice == true" scope="row">{{x.postOffice}}</td>
            <td *ngIf="showHouseNo == true" scope="row">{{x.houseNo}}</td>
            <td *ngIf="showRoadNo == true" scope="row">{{x.roadName}}</td>
            <td *ngIf="showPinCode == true" scope="row">{{x.pinCode}}</td>
            <td *ngIf="showPollingNumber == true" scope="row">{{x.pollingNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="false">
    <div class="col">
      <pre>personForm = {{personForm.value | json}}</pre>
    </div>
    <div class="col">
      <pre>userForm = {{userForm.value | json}}</pre>
    </div>
    <div class="col">
      <pre>pollingStations = {{pollingStations | json}}</pre>
    </div>
    <div class="col">
      <pre>pollingMembers = {{pollingMembers | json}}</pre>
    </div>
  </div>

</div>