<!-- <p>assembly-constituency works!</p> -->



<div class="container pt-1" style="background-color: rgb(255, 255, 255); color: black !important;" [hidden]="showBill">



    <h3><u>Create Voters</u> </h3>

    <div>

        <mat-stepper
            style="background-color: rgb(31, 111, 180) !important; color: black !important; border-radius: 10px;"
            [linear]="isLinear" #stepper>
            <mat-step [stepControl]="personForm">
                <form [formGroup]="personForm">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <div class="d-flex">
                        <div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Last name, First name" formControlName="personName"
                                        required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Guardian Name</mat-label>
                                    <input matInput placeholder="Guardian Name" formControlName="guardianName" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Age</mat-label>
                                    <input matInput placeholder="Your age" formControlName="age" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Gender</mat-label>
                                    <mat-select matNativeControl required formControlName="gender">
                                        <mat-option *ngFor="let x of genderList" [value]="x">{{x}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>House No.</mat-label>
                                    <input matInput placeholder="House No." formControlName="houseNo" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Road Name</mat-label>
                                    <input matInput placeholder="Road Name" formControlName="roadName" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Voter No.</mat-label>
                                    <input matInput placeholder="Voter No." formControlName="voterId" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Mobile1</mat-label>
                                    <input matInput placeholder="Mobile1" formControlName="mobile1" required>
                                </mat-form-field>
                            </div>
                            <div>

                                <!-- <mat-form-field appearance="fill">
                                    <mat-label>District</mat-label>
                                    <mat-select matNativeControl required formControlName="district">
                                        <mat-option [value]="x.districtId"
                                            *ngFor=" let x of states[0].districts">{{x.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field appearance="fill">
                                    <mat-label>Religion</mat-label>
                                    <mat-select matNativeControl required formControlName="religion">
                                        <mat-option [value]="x" *ngFor="let x of religion">{{x}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Occupation</mat-label>
                                    <input matInput placeholder="Occupation" formControlName="occupation" required>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Aadhar Id</mat-label>
                                    <input matInput placeholder="Aadhar Id" formControlName="aadharId" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Polling No.</mat-label>
                                    <mat-select matNativeControl required formControlName="pollingStationId">
                                        <mat-option [value]="x.pollingStationId"
                                            *ngFor="let x of pollingStations">{{x.pollingStationId}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="fluid"
                            style="background-color: white; max-height: 100px;  margin: 2%; text-align: center ">
                            
                            <button [matMenuTriggerFor]="test1" [disabled]="isUpdateAble == true">
                                <div style=" border: #e8c50e solid">
                                    <img style="width: 100px; height: 100px" [src]="imageSrc"
                                        (error)="imageSrc = defaultPicture">
                                </div>
                            </button>
                            <mat-menu #test1="matMenu">
                                <input [disabled]="isUpdateAble == true" type="file" name="filename"
                                    (change)="onChange($event)">
                            </mat-menu>
                        </div>

                    </div>

                    <div>
                        <button class="m-2 bg-warning btn" mat-button matStepperNext>Next</button>
                        <button class="mr-2 bg-warning btn" (click)="clearForms()">Clear</button>
                        <button *ngIf="isUpdateAble == false" type="submit" class="btn btn-info"
                            (click)="onSubmit()">Submit</button>
                        <button *ngIf="isUpdateAble == true" type="submit" class="btn btn-info"
                            (click)="updateMember()">Update</button>

                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="personForm" label="Fill out your address">
                <form [formGroup]="personForm">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Police Station</mat-label>
                            <input matInput placeholder="Police Station" formControlName="policeStation" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Part No</mat-label>
                            <input matInput placeholder="Part No" formControlName="partNo" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Mobile2</mat-label>
                            <input matInput placeholder="Mobile2" formControlName="mobile2" required>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>PinCode</mat-label>
                            <input matInput placeholder="PinCode" formControlName="pinCode" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Post Office</mat-label>
                            <input matInput placeholder="Post Office" formControlName="postOffice" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Preferable Candidate</mat-label>
                            <input matInput placeholder="Preferable Candidate" formControlName="preferableCandidate"
                                required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Suggestion</mat-label>
                            <input matInput placeholder="Suggestion" formControlName="suggestion" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Cast</mat-label>
                            <mat-select matNativeControl required formControlName="cast">
                                <mat-option [value]="x" *ngFor="let x of cast">{{x}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Previous Voting History</mat-label>
                            <mat-select matNativeControl required formControlName="prevVotingHistory">
                                <mat-option [value]="x" *ngFor="let x of confirmation">{{x}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Satisfied By Present Gov.</mat-label>
                            <mat-select matNativeControl required formControlName="satisfiedByPresentGov">
                                <mat-option [value]="x" *ngFor="let x of confirmation">{{x}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <form [formGroup]="userForm">
                            <div class="d-flex ">

                                <div class="form-group ">
                                    <textarea class="form-control" rows="2" formControlName="remark"
                                        placeholder="Remark"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <button class="m-2 bg-warning btn" matStepperPrevious>Back</button>
                        <button class="mr-2 bg-warning btn" (click)="clearForms()">Clear</button>
                        <button *ngIf="isUpdateAble == false" type="submit" class="btn btn-info"
                            (click)="onSubmit()">Submit</button>
                        <button *ngIf="isUpdateAble == true" type="submit" class="btn btn-info"
                            (click)="onSubmit()">Update</button>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>


    </div>





    <div style="border: 2px solid white; border-radius: 5px;  background-color: rgba(27, 109, 197, 0.524); max-width: 100vw; overflow: scroll;"
        class="p-3 mt-2 mb-2 scroll">
        <div class="d-flex">
            <mat-checkbox [checked]="showName" (change)="changeShowStatus('showName', $event.checked)"
                class="p-1 example-margin">Name</mat-checkbox>
            <mat-checkbox [checked]="showMemberCode" (change)="changeShowStatus('showMemberCode', $event.checked)"
                class="p-1 example-margin">Member code</mat-checkbox>
            <mat-checkbox [checked]="showGuardianName" (change)="changeShowStatus('showGuardianName', $event.checked)"
                class="p-1 example-margin">Guardian Name</mat-checkbox>
            <mat-checkbox [checked]="showAge" (change)="changeShowStatus('showAge', $event.checked)"
                class="p-1 example-margin">Age</mat-checkbox>
            <mat-checkbox [checked]="showGender" (change)="changeShowStatus('showGender', $event.checked)"
                class="p-1 example-margin">Gender</mat-checkbox>
            <mat-checkbox [checked]="showPoliceStation" (change)="changeShowStatus('showPoliceStation', $event.checked)"
                class="p-1 example-margin">Police Station</mat-checkbox>
            <mat-checkbox [checked]="showOcupation" (change)="changeShowStatus('showOcupation', $event.checked)"
                class="p-1 example-margin">Occupation</mat-checkbox>
            <mat-checkbox [checked]="showReligion" (change)="changeShowStatus('showReligion', $event.checked)"
                class="p-1 example-margin">Religion</mat-checkbox>
            <mat-checkbox [checked]="showEmail" (change)="changeShowStatus('showEmail', $event.checked)"
                class="p-1 example-margin">Email</mat-checkbox>
            <mat-checkbox [checked]="showMobileOne" (change)="changeShowStatus('showMobileOne', $event.checked)"
                class="p-1 example-margin">mobile1</mat-checkbox>
            <mat-checkbox [checked]="showMobileTwo" (change)="changeShowStatus('showMobileTwo', $event.checked)"
                class="p-1 example-margin">mobile2</mat-checkbox>
        </div>
        <div class="d-flex">


            <mat-checkbox [checked]="showVoterId" (change)="changeShowStatus('showVoterId', $event.checked)"
                class="p-1 example-margin">voterId</mat-checkbox>
            <mat-checkbox [checked]="showPollingNumber" (change)="changeShowStatus('showPollingNumber', $event.checked)"
                class="p-1 example-margin">pollingNumber</mat-checkbox>
            <mat-checkbox [checked]="showPinCode" (change)="changeShowStatus('showPinCode', $event.checked)"
                class="p-1 example-margin">Pin Code</mat-checkbox>
            <mat-checkbox [checked]="showRoadNo" (change)="changeShowStatus('showRoadNo', $event.checked)"
                class="p-1 example-margin">Road No.</mat-checkbox>
            <mat-checkbox [checked]="showHouseNo" (change)="changeShowStatus('showHouseNo', $event.checked)"
                class="p-1 example-margin">House No.</mat-checkbox>
            <mat-checkbox [checked]="showPostOffice" (change)="changeShowStatus('showPostOffice', $event.checked)"
                class="p-1 example-margin">Post Office</mat-checkbox>
            <mat-checkbox [checked]="showCast" (change)="changeShowStatus('showCast', $event.checked)"
                class="p-1 example-margin">Cast</mat-checkbox>
            <mat-checkbox [checked]="showAadharId" (change)="changeShowStatus('showAadharId', $event.checked)"
                class="p-1 example-margin">Aadhar Id</mat-checkbox>
            <mat-checkbox [checked]="showPhoto" (change)="changeShowStatus('showPhoto', $event.checked)"
                class="p-1 example-margin">Aadhar Id</mat-checkbox>
        </div>


    </div>







    <div class="card">
        <div class="card-body scroll"
            style="max-width: 100vw; overflow: scroll;  border-radius: 5px;  background-color: rgba(27, 109, 197, 0.524);">
            <table class="table" style="">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" *ngIf="showName == true" scope="col">Name</th>
                        <th class="text-center" *ngIf="showMemberCode == true" scope="col">Member code</th>
                        <th class="text-center" *ngIf="showGuardianName == true" scope="col">Guardian Name</th>
                        <th class="text-center" *ngIf="showAge == true" scope="col">Age</th>
                        <th class="text-center" *ngIf="showGender == true" scope="col">Gender</th>
                        <th class="text-center" *ngIf="showPoliceStation == true" scope="col">Police Station</th>
                        <th class="text-center" *ngIf="showOcupation == true" scope="col">Occupation</th>
                        <th class="text-center" *ngIf="showReligion == true" scope="col">Religion</th>
                        <th class="text-center" *ngIf="showEmail == true" scope="col">Email</th>
                        <th class="text-center" *ngIf="showMobileOne == true" scope="col">mobile1</th>
                        <th class="text-center" *ngIf="showMobileTwo == true" scope="col">mobile2</th>
                        <th class="text-center" *ngIf="showVoterId == true" scope="col">voterId</th>
                        <th class="text-center" *ngIf="showAadharId == true" scope="col">Adhaar Id</th>
                        <th class="text-center" *ngIf="showCast == true" scope="col">Cast</th>
                        <th class="text-center" *ngIf="showPostOffice == true" scope="col">Post Office</th>
                        <th class="text-center" *ngIf="showHouseNo == true" scope="col">House No.</th>
                        <th class="text-center" *ngIf="showRoadNo == true" scope="col">Road Name</th>
                        <th class="text-center" *ngIf="showPinCode == true" scope="col">Pin code</th>
                        <th class="text-center" *ngIf="showPollingNumber == true" scope="col">pollingNumber</th>
                        <th class="text-center" *ngIf="showPhoto == true" scope="col">Picture</th>
                    </tr>
                </thead>
                <tbody *ngFor="let x of pollingMembers">
                    <tr (dblclick)="editVoters(x)">
                        <td class="text-center pt-3" scope="row">{{x.personId}}</td>
                        <td class="text-center pt-3" *ngIf="showName == true" scope="row">{{x.personName}}</td>
                        <td class="text-center pt-3" *ngIf="showMemberCode == true" scope="row">{{x.memberCode}}</td>
                        <td class="text-center pt-3" *ngIf="showGuardianName == true" scope="row">{{x.guardianName}}
                        </td>
                        <td class="text-center pt-3" *ngIf="showAge == true" scope="row">{{x.age}}</td>
                        <td class="text-center pt-3" *ngIf="showGender == true" scope="row">{{x.gender}}</td>
                        <td class="text-center pt-3" *ngIf="showPoliceStation == true" scope="row">{{x.police_station}}
                        </td>
                        <td class="text-center pt-3" *ngIf="showOcupation == true" scope="row">{{x.occupation}}</td>
                        <td class="text-center pt-3" *ngIf="showReligion == true" scope="row">{{x.religion}}</td>
                        <td class="text-center pt-3" *ngIf="showEmail == true" scope="row">{{x.email}}</td>
                        <td class="text-center pt-3" *ngIf="showMobileOne == true" scope="row">{{x.mobile1}}</td>
                        <td class="text-center pt-3" *ngIf="showMobileTwo == true" scope="row">{{x.mobile2}}</td>
                        <td class="text-center pt-3" *ngIf="showVoterId == true" scope="row">{{x.voterId}}</td>
                        <td class="text-center pt-3" *ngIf="showAadharId == true" scope="row">{{x.aadharId}}</td>
                        <td class="text-center pt-3" *ngIf="showCast == true" scope="row">{{x.cast}}</td>
                        <td class="text-center pt-3" *ngIf="showPostOffice == true" scope="row">{{x.postOffice}}</td>
                        <td class="text-center pt-3" *ngIf="showHouseNo == true" scope="row">{{x.houseNo}}</td>
                        <td class="text-center pt-3" *ngIf="showRoadNo == true" scope="row">{{x.roadName}}</td>
                        <td class="text-center pt-3" *ngIf="showPinCode == true" scope="row">{{x.pinCode}}</td>
                        <td class="text-center pt-3" *ngIf="showPollingNumber == true" scope="row">{{x.pollingNumber}}
                        </td>
                        <td class="text-center " *ngIf="showPhoto == true" scope="row" style="">
                           
                            <img loading="lazy" decoding="async" [src]="this.imageSrcVoter + '' + x.personId + '.jpg'"
                                style=" height: 50px; border: #e8c50e solid" alt="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row" *ngIf="false">
        <div class="col">
            <pre>personForm = {{personForm.value | json}}</pre>
        </div>
        <div class="col">
            <pre>userForm = {{userForm.value | json}}</pre>
        </div>
        <div class="col">
            <pre>pollingStations = {{pollingStations | json}}</pre>
        </div>
        <div class="col">
            <pre>pollingMembers = {{pollingMembers | json}}</pre>
        </div>
    </div>

</div>




<div>
    <button class="btn-primary" mat-stroked-button printSectionId="printBillDiv" [printStyle]="printDivStyle"
        ngxPrint><mat-icon>print</mat-icon>
    </button>
    <button class="btn-primary" mat-stroked-button (click)="exportexcel()">Export to Excel</button>
</div>



<!-- {{pollingMembers | json}} -->
<!-- {{this.imageSrcVoter}} -->
<!-- <div [hidden]="!showBill"> -->
<!-- <div [hidden]="true">
    <table id="excel-table" style="">
        <thead>
            <tr>
                <th class="text-center" scope="col">SL. No.</th>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Member code</th>
                <th class="text-center" scope="col">Guardian Name</th>
                <th class="text-center" scope="col">Age</th>
                <th class="text-center" scope="col">Gender</th>
                <th class="text-center" scope="col">Police Station</th>
                <th class="text-center" scope="col">Occupation</th>
                <th class="text-center" scope="col">Religion</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">mobile1</th>
                <th class="text-center" scope="col">mobile2</th>
                <th class="text-center" scope="col">voterId</th>
                <th class="text-center" scope="col">Adhaar Id</th>
                <th class="text-center" scope="col">Cast</th>
                <th class="text-center" scope="col">Post Office</th>
                <th class="text-center" scope="col">House No.</th>
                <th class="text-center" scope="col">Road Name</th>
                <th class="text-center" scope="col">Pin code</th>
            </tr>
        </thead>
        <tbody *ngFor="let x of pollingMembers;let indexOfElement=index">
            <tr>
                <td class="text-center pt-3" scope="row">{{indexOfElement +1}}</td>
                <td class="text-center pt-3" scope="row">{{x.personName}}</td>
                <td class="text-center pt-3" scope="row">{{x.memberCode}}</td>
                <td class="text-center pt-3" scope="row">{{x.guardianName}}</td>
                <td class="text-center pt-3" scope="row">{{x.age}}</td>
                <td class="text-center pt-3" scope="row">{{x.gender}}</td>
                <td class="text-center pt-3" scope="row">{{x.police_station}}</td>
                <td class="text-center pt-3" scope="row">{{x.occupation}}</td>
                <td class="text-center pt-3" scope="row">{{x.religion}}</td>
                <td class="text-center pt-3" scope="row">{{x.email}}</td>
                <td class="text-center pt-3" scope="row">{{x.mobile1}}</td>
                <td class="text-center pt-3" scope="row">{{x.mobile2}}</td>
                <td class="text-center pt-3" scope="row">{{x.voterId}}</td>
                <td class="text-center pt-3" scope="row">{{x.aadharId}}</td>
                <td class="text-center pt-3" scope="row">{{x.cast}}</td>
                <td class="text-center pt-3" scope="row">{{x.postOffice}}</td>
                <td class="text-center pt-3" scope="row">{{x.houseNo}}</td>
                <td class="text-center pt-3" scope="row">{{x.roadName}}</td>
                <td class="text-center pt-3" scope="row">{{x.pinCode}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- <div [hidden]="!showBill">
    <div id="printBillDiv" style="font-size: xx-small !important;">

        <div class="printDiv" *ngFor="let x of pollingMembers; let i=index"
            style="border: #000000 solid; min-width: 200px; float: left !important; padding: 4px;">
            <div class="printDiv"
                style="  min-width: 100px; max-width: 100px !important; float: left !important; font-size: xx-small !important;">
                <div style="border: #000000 solid;  text-align: right;">{{i+1}}</div>
                <span>Name: {{x.personName}}</span><br>
                Guardian's Name: {{x.guardianName}}<br>
                Age: {{x.age}}
                Gender: {{x.gender}}<br>
                House No: {{x.houseNo}}
            </div>
            <div class="printDiv" style=" min-width: 100px; float: left !important; text-align: right;">
                <div>{{x.voterId}}</div>
                <img [src]="this.imageSrcVoter + '' + x.personId + '.jpg'"
                    style=" height: 65px; width: 40px; border: #000000 solid" alt="">
            </div>
        </div>

    </div>
</div> -->